html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	background-color: #000;
	line-height: 1;
	font-family: sans;
	font-size:10px;
	padding:4px;
	width:400px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-size:18px;
	font-weight: bold;
	padding-bottom: 10px;
}
	
fieldset{
	border-bottom: 1px dashed #ccc;
	
}
.left{
	float: left;
}

.right{
	float: right;
}
.info{
}
dl *{
	padding:2px;
}
dt {
	border-bottom:1px dotted;
	border-left: 1px dotted;
}
dd{
	text-align: right;
}
#lista{
	width: 220px;
	height: 112px;
	font-size: 10px;
	margin-right: 8px;
}

.player{
	margin: 3px;
	border: 1px solid;
	float: right;
	cursor: pointer;
}

.player p {
	margin: 3px;
	float: left;
}

.player:hover{
	margin: 3px;
	border-top: 1px solid #999;
	border-left:  1px solid #999;
	float: right;
}
#head{
	width: 387px;
	float: left;
	color:#fff;
	padding:5px;
}
#body{
	color:#fff;
	padding:5px;
	font-weight: bold;
}

#head p{
	padding: 3px;
}
.icon-app{
	background-image: url('/img/grooveplay16.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;
}
.icon-play{
	background-image: url('/img/play.png');
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	float: left;
}

.msg{
	margin-bottom: 5px;
	display: none;
}